pipeline/Copy_CSV_Dynamic.json
{
	"name": "Copy_CSV_Dynamic",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureDataLakeStoreReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureDataLakeStoreWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Row ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Row ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Order Priority",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Order Priority",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Discount",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Discount",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Unit Price",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Unit Price",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Shipping Cost",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Shipping Cost",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Customer ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Customer ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Customer Name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Customer Name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Ship Mode",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Ship Mode",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Customer Segment",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Customer Segment",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Product Category",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Product Category",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Product Sub-Category",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Product Sub-Category",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Product Container",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Product Container",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Product Name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Product Name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Product Base Margin",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Product Base Margin",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Country",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Country",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Region",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Region",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "State or Province",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "State or Province",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "City",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "City",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Postal Code",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Postal Code",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Order Date",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Order Date",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Ship Date",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Ship Date",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Profit",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Profit",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Quantity ordered new",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Quantity ordered new",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Sales",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Sales",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Order ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Order ID",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Orders_Input_Dynamic",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Orders_Output_Dynamic",
						"type": "DatasetReference",
						"parameters": {
							"file_name": {
								"value": "@activity('Lookup1').output.value[0].filename_output",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureDataLakeStoreReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Orders_json",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-04-26T21:03:18Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}