pipeline/CSV_to_CSV.json
{
	"name": "CSV_to_CSV",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureDataLakeStoreReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Sales_Json",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureDataLakeStoreReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureDataLakeStoreWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Region",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Region",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Country",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Country",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Item Type",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Item Type",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Sales Channel",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Sales Channel",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Order Priority",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Order Priority",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Order Date",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Order Date",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Order ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Order ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Ship Date",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Ship Date",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Units Sold",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Units Sold",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Unit Price",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Unit Price",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Unit Cost",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Unit Cost",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Total Revenue",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Total Revenue",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Total Cost",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Total Cost",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Total Profit",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Total Profit",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Sales_CSV",
						"type": "DatasetReference",
						"parameters": {
							"folder_path": {
								"value": "@activity('Lookup1').output.value[0].folder_path",
								"type": "Expression"
							},
							"source_file_name": {
								"value": "@activity('Lookup1').output.value[0].source_file_name",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Sales_Raw_CSV",
						"type": "DatasetReference",
						"parameters": {
							"folder_name": {
								"value": "@activity('Lookup1').output.value[0].folder_path",
								"type": "Expression"
							},
							"source_file_name": {
								"value": "@activity('Lookup1').output.value[0].source_file_name",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-04-23T17:59:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}