pipeline/log_analytics.json
{
	"name": "log_analytics",
	"properties": {
		"activities": [
			{
				"name": "GetBearerToken",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://login.microsoftonline.com/74825694-46fc-4964-988f-b5cf8e70c3a3/oauth2/v2.0/authorize",
					"method": "POST",
					"body": "grant_type=authorization_code\n&client_id=439cecde-eda1-4bce-9fcf-33eb3a883e07\n&code=https://login.microsoftonline.com/74825694-46fc-4964-988f-b5cf8e70c3a3/oauth2/v2.0/authorize\n&redirect_uri=YOUR_REDIRECT_URI\n&resource=https://api.loganalytics.io\n&client_secret=YOUR_CLIENT_SECRET"
				}
			},
			{
				"name": "Get_Log_Analytics",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetBearerToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"requestBody": "{\n\"query\": \"LAQueryLogs\" \n}",
						"additionalHeaders": {
							"content-type": "application/json; charset=utf-8",
							"Authorization": {
								"value": "concat('Bearer ',activity('GetBearerToken').output.access_token)",
								"type": "Expression"
							}
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "RestResource1",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	}
}