pipeline/log_analytics_copy1.json
{
	"name": "log_analytics_copy1",
	"properties": {
		"activities": [
			{
				"name": "GetBearerToken",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://login.microsoftonline.com/74825694-46fc-4964-988f-b5cf8e70c3a3/oauth2/authorize",
					"method": "GET",
					"headers": {
						"content-Type": "application/x-www-form-urlencoded"
					},
					"body": "\ngrant_type=client_credentials\n&client_id=439cecde-eda1-4bce-9fcf-33eb3a883e07\n&resource=https://api.loganalytics.io\n&client_secret=pDP3B5_M84bS8~3yt_C5~40qwd~E8enyP_"
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "GetBearerToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://login.microsoftonline.com/74825694-46fc-4964-988f-b5cf8e70c3a3/oauth2/token",
					"method": "POST",
					"headers": {
						"content-Type": "application/x-www-form-urlencoded"
					},
					"body": "\ngrant_type=client_credentials\n&client_id=439cecde-eda1-4bce-9fcf-33eb3a883e07\n&resource=https://api.loganalytics.io\n&client_secret=pDP3B5_M84bS8~3yt_C5~40qwd~E8enyP_"
				}
			},
			{
				"name": "Get_Log_Analytics",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"requestBody": "{\n\"query\": \"LAQueryLogs\"\n}",
						"additionalHeaders": {
							"content-type": "application/json; charset=utf-8",
							"Authorization": {
								"value": "@concat('Bearer ',activity('Web1').output.access_token)",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$[1]"
								},
								"sink": {
									"name": "$['TimeGenerated']",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$[2]"
								},
								"sink": {
									"name": "$['CorrelationID']",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$[3]"
								},
								"sink": {
									"name": "$['AADObjectID']",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$[4]"
								},
								"sink": {
									"name": "$['AADTenantID']",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$[5]"
								},
								"sink": {
									"name": "$['AADEmail']",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$[6]"
								},
								"sink": {
									"name": "$['AADClientID']",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$[7]"
								},
								"sink": {
									"name": "$['QueryTimeRangeStart']",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$[8]"
								},
								"sink": {
									"name": "$['QueryTimeRangeEnd']",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$[9]"
								},
								"sink": {
									"name": "$['QueryText']",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$[10]"
								},
								"sink": {
									"name": "$['RequestClientApp']",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$[11]"
								},
								"sink": {
									"name": "$['RequestTarget']",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$[12]"
								},
								"sink": {
									"name": "$['RequestContext']",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$[13]"
								},
								"sink": {
									"name": "$['RequestContextFilters']",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$[14]"
								},
								"sink": {
									"name": "$['ResponseCode']",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$[15]"
								},
								"sink": {
									"name": "$['ResponseRowCount']",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$[16]"
								},
								"sink": {
									"name": "$['ResposneDurationMS']",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$[17]"
								},
								"sink": {
									"name": "$['StatsCPUTimeMs']",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$[18]"
								},
								"sink": {
									"name": "$['StatsDataProcessedKB']",
									"type": "Single"
								}
							},
							{
								"source": {
									"path": "$[19]"
								},
								"sink": {
									"name": "$['StatsDataProcessedStart']",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$[20]"
								},
								"sink": {
									"name": "$['StatsDataProcessedEnd']",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$[22]"
								},
								"sink": {
									"name": "$['StatsWorkspaceCount']",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$[23]"
								},
								"sink": {
									"name": "$['StatsRegionCount']",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$[24]"
								},
								"sink": {
									"name": "$['SourceSystem']",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$[25]"
								},
								"sink": {
									"name": "$['type']",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['tables'][0]['rows']"
					}
				},
				"inputs": [
					{
						"referenceName": "RestResource1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "log_output",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	}
}