pipeline/log_data_copy.json
{
	"name": "log_data_copy",
	"properties": {
		"activities": [
			{
				"name": "GetBearerToken",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://login.microsoftonline.com/74825694-46fc-4964-988f-b5cf8e70c3a3/oauth2/token",
					"method": "POST",
					"headers": {
						"content-Type": "application/x-www-form-urlencoded"
					},
					"body": "\ngrant_type=client_credentials\n&client_id=439cecde-eda1-4bce-9fcf-33eb3a883e07\n&resource=https://api.loganalytics.io\n&client_secret=pDP3B5_M84bS8~3yt_C5~40qwd~E8enyP_"
				}
			},
			{
				"name": "Get_Log_Analytics",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetBearerToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"requestBody": "{\n\"query\": \"LAQueryLogs\"\n}",
						"additionalHeaders": {
							"content-type": "application/json; charset=utf-8",
							"Authorization": {
								"value": "@concat('Bearer ',activity('GetBearerToken').output.access_token)",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$[3]"
								},
								"sink": {
									"name": "Time_Generated",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$[4]"
								},
								"sink": {
									"name": "Correlation_ID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$[5]"
								},
								"sink": {
									"name": "AADObject_ID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$[6]"
								},
								"sink": {
									"name": "AADTenant_ID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$[8]"
								},
								"sink": {
									"name": "AADClient_ID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$[9]"
								},
								"sink": {
									"name": "QueryTimeRangeStart",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$[10]"
								},
								"sink": {
									"name": "QueryTimeRangeEnd",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$[11]"
								},
								"sink": {
									"name": "QueryText",
									"type": "String"
								}
							}
						],
						"collectionReference": "['tables'][0]['rows']"
					}
				},
				"inputs": [
					{
						"referenceName": "RestResource1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "log_sql_table",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	}
}