pipeline/log_analytics_copy1.json
{
	"name": "log_analytics_copy1",
	"properties": {
		"activities": [
			{
				"name": "GetBearerToken",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://login.microsoftonline.com/74825694-46fc-4964-988f-b5cf8e70c3a3/oauth2/token",
					"method": "POST",
					"headers": {
						"content-Type": "application/x-www-form-urlencoded"
					},
					"body": "\ngrant_type=client_credentials\n&client_id=439cecde-eda1-4bce-9fcf-33eb3a883e07\n&resource=https://api.loganalytics.io\n&client_secret=pDP3B5_M84bS8~3yt_C5~40qwd~E8enyP_"
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "GetBearerToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://login.microsoftonline.com/74825694-46fc-4964-988f-b5cf8e70c3a3/oauth2/token",
					"method": "POST",
					"headers": {
						"content-Type": "application/x-www-form-urlencoded"
					},
					"body": {
						"value": "@activity('GetBearerToken').output.access_token",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}