pipeline/pipeline1_copy2.json
{
	"name": "pipeline1_copy2",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureDataLakeStoreReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Sales_Json",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Copy data2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select *, DATEPART(YEAR,Order_Date) as Year from Sales_Record",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Region",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Region",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Country",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Country",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Item_Type",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Item_Type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Sales_Channel",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Sales_Channel",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Order_Priority",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Order_Priority",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Order_Date",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "Order_Date",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "Order_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Order_ID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Ship_Date",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "Ship_Date",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "Units_Sold",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Units_Sold",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Unit_Price",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "Unit_Price",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "Unit_Cost",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "Unit_Cost",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "Total_Revenue",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "Total_Revenue",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "Total_Cost",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "Total_Cost",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "Total_Profit",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "Total_Profit",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "Year",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "year",
									"type": "Int32",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Sales_Staging",
						"type": "DatasetReference",
						"parameters": {
							"table_name": {
								"value": "@activity('Lookup1').output.value[2].table_name1",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Sales_Staging_Copy",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-04-23T17:16:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}