pipeline/pipeline1_copy1.json
{
	"name": "pipeline1_copy1",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureDataLakeStoreReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Sales_Json",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Copy_CSV",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureDataLakeStoreReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureDataLakeStoreWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Region",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Region",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Country",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Country",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Item Type",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Item Type",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Sales Channel",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Sales Channel",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Order Priority",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Order Priority",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Order Date",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Order Date",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Order ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Order ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Ship Date",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Ship Date",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Units Sold",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Units Sold",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Unit Price",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Unit Price",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Unit Cost",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Unit Cost",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Total Revenue",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Total Revenue",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Total Cost",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Total Cost",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Total Profit",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Total Profit",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Sales_CSV",
						"type": "DatasetReference",
						"parameters": {
							"folder_path": {
								"value": "@activity('Lookup1').output.value[0].folder_path",
								"type": "Expression"
							},
							"source_file_name": {
								"value": "@activity('Lookup1').output.value[0].source_file_name",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Sales_Raw_CSV",
						"type": "DatasetReference",
						"parameters": {
							"folder_name": {
								"value": "@activity('Lookup1').output.value[1].folder_path",
								"type": "Expression"
							},
							"source_file_name": {
								"value": "@activity('Lookup1').output.value[1].source_file_name",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Copy_Staging",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy_CSV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureDataLakeStoreReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Region",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Region",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Country",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Country",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Item Type",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Item_Type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Sales Channel",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Sales_Channel",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Order Priority",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Order_Priority",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Order Date",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "Order_Date",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "Order ID",
									"physicalType": "int"
								},
								"sink": {
									"name": "Order_ID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Ship Date",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "Ship_Date",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "Units Sold",
									"physicalType": "int"
								},
								"sink": {
									"name": "Units_Sold",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Unit Price",
									"physicalType": "float"
								},
								"sink": {
									"name": "Unit_Price",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "Unit Cost",
									"physicalType": "float"
								},
								"sink": {
									"name": "Unit_Cost",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "Total Revenue",
									"physicalType": "float"
								},
								"sink": {
									"name": "Total_Revenue",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "Total Cost",
									"physicalType": "float"
								},
								"sink": {
									"name": "Total_Cost",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "Total Profit",
									"physicalType": "float"
								},
								"sink": {
									"name": "Total_Profit",
									"type": "Double",
									"physicalType": "float"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Sales_Raw_CSV",
						"type": "DatasetReference",
						"parameters": {
							"folder_name": {
								"value": "@activity('Lookup1').output.value[1].folder_path",
								"type": "Expression"
							},
							"source_file_name": {
								"value": "@activity('Lookup1').output.value[1].source_file_name",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Sales_Staging",
						"type": "DatasetReference",
						"parameters": {
							"table_name": {
								"value": "@activity('Lookup1').output.value[1].table_name",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Copy_Table",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy_Staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@activity('Lookup1').output.value[2].Query",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Region",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Region",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Country",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Country",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Item_Type",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Item_Type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Sales_Channel",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Sales_Channel",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Order_Priority",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Order_Priority",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Order_Date",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "Order_Date",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "Order_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Order_ID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Ship_Date",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "Ship_Date",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "Units_Sold",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Units_Sold",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Unit_Price",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "Unit_Price",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "Unit_Cost",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "Unit_Cost",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "Total_Revenue",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "Total_Revenue",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "Total_Cost",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "Total_Cost",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "Total_Profit",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "Total_Profit",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "Year",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "year",
									"type": "Int32",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Sales_Staging",
						"type": "DatasetReference",
						"parameters": {
							"table_name": {
								"value": "@activity('Lookup1').output.value[2].tablename",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Sales_Staging_Copy",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-04-23T17:16:53Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}